@import "tailwindcss";

@theme {
  --color-zinc-50: #fafafa;
  --color-zinc-300: #d4d4d8;
  --color-zinc-500: #71717a;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  
  --color-legendary-orange: #ff8000;
  --color-epic-purple: #a335ee;
  --color-rare-blue: #0070dd;
  --color-uncommon-green: #1eff00;

  --color-class-warrior: #C69B6D;
  --color-class-paladin: #F48CBA;
  --color-class-hunter: #ABD473;
  --color-class-rogue: #FFF468;
  --color-class-priest: #FFFFFF;
  --color-class-deathknight: #C41F3B;
  --color-class-shaman: #0070DE;
  --color-class-mage: #3FC7EB;
  --color-class-warlock: #8788EE;
  --color-class-druid: #FF7C0A;

  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50 font-inter antialiased min-h-screen selection:bg-epic-purple/30 selection:text-white;
  }
}

@layer utilities {
  .text-glow-orange {
    text-shadow: 0 0 10px rgba(255, 128, 0, 0.5);
  }
  
  .shadow-glow-orange {
    box-shadow: 0 10px 30px -10px rgba(255, 128, 0, 0.2);
  }

  .shadow-glow-purple {
    box-shadow: 0 0 20px 0 rgba(163, 53, 238, 0.15);
  }
  
  /* Custom Scrollbar for dark theme */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full border-2 border-solid border-zinc-950;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }
}